@import "reset.css";

:root {
  --l-size: 3em;
  --m-size: 2em;
  --s-size: 1.5em;
  --xs-size: 0.8em;
}

.hidden {
  visibility: hidden;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(36, 36, 36);
  font-size: var(--xs-size);
}

.weather-box {
  background-color: rgb(219, 219, 219);
  padding: 15px;
  border-radius: 15px;
  position: relative;
}

.weather-box__find input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3px 10px;
  border-radius: 10px;
}

.weather-box__find button {
  border-radius: 10px;
  padding: 3px 5px;
  border: none;
  color: rgba(0, 0, 0, 0.6);
}

.weather-box__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

#icon {
  width: 80%;
}

#temp {
  font-size: var(--l-size);
  font-weight: 600;
  margin-bottom: 5px;
}

#temp-min-max {
  display: block;
  margin-bottom: 5px;
}

#city {
  display: block;
  font-size: var(--m-size);
}

.weather-box__sub {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-box__sub div {
  width: 40%;
  text-align: center;
  margin-bottom: 10px;
}

.weather-box__sub-title {
  display: block;
  margin-bottom: 3px;
}

#noCity {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--m-size);
  font-weight: 600;
}
